/* HEADER LAYOUT */

.our-story-header {
    margin: 0 45px;
    position: relative
}

.our-story-header-wrapper {
  background-color: transparent;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 20px;
  position: relative;
  right: 0;
  top: 0;
  transition: background-color .5s;
  width: 100%;
  z-index: 10;
  height: 3.54rem;
}

.our-story-header--has-language-selector {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  height: 30px; 
  justify-content: flex-start;
  padding-top: 0.5rem;
  flex-grow: 3;
}

.our-story-header--has-language-selector :nth-child(1) {
  flex-grow: 10;
}

.our-story-header--has-language-selector .lang-selection-container {
  display: inline-block;
  margin: 0 0.75rem;
  margin-right: 1.5rem;
}

.ui-select-wrapper {
  width: auto;
  display: inline-block;
  position: relative;
}

.ui-label {
  clip: rect(0 0 0 0);
  border: 0;
  display: block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin-bottom: 0;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
}

/* NETFLIX LOGO */
  
#netflix-logo {
  fill: #e50914;
  line-height: normal;
}

.svg-icon-netflix-logo {
  height: 2.25rem;
  width: 8.375rem;
}

.our-story-logo {
  margin-right: 56px;
}

/* SIGN IN BUTTON */

.redButton {
  background-color: #e50914;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 7px 17px;
}

.authLinks {
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  
}