.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 70px 45px;
    position: relative;
}

.animation-card .animation-card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.animation-card .our-story-card-text {
    flex: 0 1 auto;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
    text-align: left;
}

.our-story-card-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-size: 27px;
    margin: 0 0 0.4em;
    font-weight: 500;
}
  
.our-story-card-subtitle, .our-story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
}
  
.h5, h2, h3, h4, h5 {
    margin: 0.75em 0 0.25em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.animation-card .our-story-card-img-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}
  
.animation-card.watchOnTv .our-story-card-animation-container {
    margin: -10% -5% -5% 0;
}
  
.animation-card .our-story-card-animation-container {
    overflow: hidden;
    position: relative;
}
  
.animation-card.watchOnTv .our-story-card-img {
    position: relative;
    z-index: 2;
}
  
img {
    border: 0;
    height: auto;
    max-width: 100%;
}
  
.animation-card.watchOnTv .our-story-card-animation {
    height: 100%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
}
  
  
.animation-card.watchOnTv .our-story-card-video {
    height: 100%;
    width: 100%;
}
  
video {
    display: inline-block;
    vertical-align: baseline;
}
  
  