/* EMAIL FORM */

.email-form-lockup .nmhp-cta, .email-form-lockup .our-story-cta {
    border-bottom-left-radius: 0;
    border-left: 1px solid #333;
    border-top-left-radius: 0;
    margin: 0!important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
  
ul.structural {
    margin: 0;
    padding: 0;
}
  
ul.structural>li {
    list-style: none;
    margin-left: 0;
}
  
label {
    cursor: default;
}
  
.email-form {
    max-width: 950px;
    padding-top: 0.85rem;
    display: flex;
    flex-direction: column;
}
  
.faq-card .email-form {
    margin: 0 auto;
}
  
.email-form-lockup {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
}
  
.email-form-title {
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 20px!important;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 5%;
}
  
.nfFormSpace {
    margin-bottom: 10px;
}
  
  
.simpleForm {
    flex: 1 0 auto;
    text-align: right;
    vertical-align: top;
    margin: 0;
    padding: 0;
}
  
.nfInput .nfInputPlacement{
    position: relative;
    max-width: 500px;

}

@media only screen and (min-width: 950px) and (max-width: 1449px){
    .email-form-lockup .nfInput input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        height: 60px!important;
        min-width: 450px;
}
}
.nfInput .placeLabel {
    color: #8c8c8c;
    font-size: 16px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease, transform .1s ease;
    font-size: 16px;
}
  
.nfTextField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    height: 44px;
    padding: 10px 11px;
    width: 100%;
}
  
input:focus ~ .placeLabel {
    top: 20px;
    bottom: 10px;
    left: 6px;
    font-size: 11px;
    opacity: 1;
    color: #8c8c8c;
    font-weight: bold;
    font-weight: 600;
}
  
/* GET STARTED BUTTON */
  
.nmhp-cta-extra-large {
    font-size: 1.625rem;
    min-height: 60px;
}
  
.btn {
    background-color: #e6e6e6;
    background-image: linear-gradient(180deg,#e6e6e6,#ddd);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    min-width: 74px;
    position: relative;
}
  
.nmhp-cta {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    line-height: normal;
    margin: 0.25em auto;
    padding: 0 1em;
    width: auto;
}
  
.btn-red {
    background-color: #e50914;
    background-image: linear-gradient(180deg,#e50914,#db0510);
    box-shadow: 0 2px 0 rgb(0 0 0 / 45%);
    color: #fff;
}
  
.nmhp-cta .chevron-right-arrow svg {
    height: 100%;
    left: 0;
    margin: 1px 0;
    position: absolute;
    top: 0;
    transform: scaleX(1);
}
  
  .nmhp-cta .chevron-right-arrow {
    flex: 0 1 auto;
    height: 0.75em;
    margin: 0 0 0 0.5em;
    position: relative;
    width: 0.35em;
  }
  
.nmhp-cta .chevron-right-arrow svg path {
    fill: #fff;
}