

.faq-card {
    text-align: center;
  }
  
  .our-story-card-text-section6 {
    font-size: 1.625rem;
    font-weight: 400;
  }
  
  .our-story-card-title-section6 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }
  /* BUTTONLIST */
  
  .faq-card .faq-question {
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    width: 100%;
    background: #303030;
    display: block;
    text-align: left;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    color: inherit;
    font: inherit;
  }
  
  .faq-card .faq-list {
    margin: 2em auto;
    width: 75%;
    max-width: 815px;
  }
  
  .our-story-card-text-section6 > ul {
    padding: 0;
  }
  
  .faq-card {
    list-style-type: none;
    margin: 0 0 8px;
  }
  