* {
    letter-spacing: 0!important;
}


html {
    -webkit-text-size-adjust: 100%;
}

body, html {
    display: block;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f3f3f3;
    color: #333;
    direction: ltr;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

div {
    display: block;
}

@media only screen and (min-width: 740px){
    #appMountPoint {
        background-color: transparent;
        color: #fff;
    }
    #appMountPoint>div {
        background-color: #000;
        color: #fff;
    }
}

#appMountPoint {
    height: 100%;
}

#appMountPoint>div {
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    z-index: 0;
}

.hybrid-login-wrapper {
    background-color: #000;
    color: #fff;
}

#appMountPoint>div .login-wrapper-background {
    display: none;
}

@media only screen and (min-width: 740px){
    #appMountPoint>div .login-wrapper-background {
        background-size: cover;
        display: block;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}

.hybrid-login-wrapper .login-wrapper-background {
    opacity: .5;
}

@media only screen and (min-width: 740px){
    #appMountPoint>div .login-wrapper-background .vlv-creative {
        min-height: 100%;
        min-width: 100%;
}

}
img {
    border: 0;
}

.login-body {
    color: #333;
    margin: 0 auto;
    padding: 0 5%;
}

/* HEADER */
@media only screen and (min-width: 740px) {
    .nfHeader.login-header.login-header {
        background: linear-gradient(180deg,rgba(0,0,0,.5) 0,transparent);
        border-bottom: transparent;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.hybrid-login-wrapper .nfHeader {
    background: none;
    border: 0;
}

.nfHeader, .nfHeader.signupBasicHeader {
    height: 90px;
}

.nfHeader {
    background-color: #fafafa;
    border-bottom: 1px solid #dcdde0;
    z-index: 2;
}

.svg-nfLogo.signupBasicHeader {
    margin-left: 3%;
}

.svg-nfLogo {
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
    text-decoration: none;
    vertical-align: middle;
}

a {
    background-color: transparent;
    color: #737373;
}

.svg-nfLogo .svg-icon-netflix-logo {
    height: 45px;
    vertical-align: middle;
    width: 167px;
}

svg:not(:root) {
    overflow: hidden;
}

.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

/* LOGIN BODY */

@media only screen and (min-width: 740px){
    .login-body {
    background-color: transparent;
    margin: 0 auto -236px;
    max-width: 450px;
    min-height: 100vh;
    }
}

@media only screen and (min-width: 740px){
    .login-body:before {
    content: "";
    display: block;
    height: 91px;
}
}

.hybrid-login-form.hybrid-login-form-signup {
    min-height: 550px;
}

@media only screen and (min-width: 740px){
    .login-body:after {
    content: "";
    display: block;
    height: 236px;
}
}

@media only screen and (min-width: 740px){
    .hybrid-login-form.hybrid-login-form-signup {
    min-height: 660px;
}
}

.login-content {
    background-color: #f3f3f3;
    padding-top: 20px;
}

@media only screen and (min-width: 500px){
    .login-content {
    min-width: 380px;
    padding: 40px;
}
}

.login-form {
    margin-bottom: 10px;
}

.hybrid-login-form {
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 515px;
    padding: 20px 0 30px;
    width: 100%;
}

@media only screen and (min-width: 740px) {
    .hybrid-login-form {
    margin-bottom: 90px;
    min-height: 625px;
    padding: 60px 68px 40px;
}
}

.hybrid-login-form .hybrid-login-form-main {
    flex-grow: 1;
}

.hybrid-login-form h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

@media only screen and (min-width: 740px){
    h1 {
    margin-bottom: 20px;
}
}

h1 {
    margin: 0 0 10px;
    padding: 0;
}

.nfInput {
    max-width: 500px;
}
.nfInput, .nfInput .nfInputPlacement {
    position: relative;
}
.login-input {
    padding-bottom: 24px;
}

.hybrid-login-form .nfInput {
    max-width: 100%;
}

.hybrid-login-form .login-input {
    padding-bottom: 16px;
}
.hybrid-login-form .login-form {
    margin-bottom: 0;
}

.hybrid-login-form .nfEmailPhoneControls {
    border: 0;
    border-radius: 4px;
}

.nfPasswordControls {
    background: #fff;
    display: flex;
}
.hybrid-login-form .nfPasswordControls {
    background: #333;
    border: 0;
    border-radius: 4px;
}


.nfPasswordControls>label {
    flex-grow: 1;
}

/*  */
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input {
    line-height: normal;
}
.nfTextField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    height: 44px;
    padding: 10px 11px;
    width: 100%;
}
.nfTextField:invalid, .nfTextField:valid {
    box-shadow: none;
}
.nfInput .nfTextField {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}

.nfPasswordInput .nfTextField {
    background: transparent;
}

.hybrid-login-form .nfTextField {
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 16px 20px 0;
    background-color: #333;
}

.hybrid-login-form .nfPasswordControls .nfTextField {
    height: 50px;
}


/* placeLabel-email */
.nfInput .placeLabel-email {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease, transform .1s ease;
}

.nfTextField:focus ~ .placeLabel-email {
    top: 25px;
    bottom: 10px;
    left: 8px;
    font-size: 11px;
    opacity: 1;
    color: #8c8c8c;
    font-weight: 400;
}

@media only screen and (min-width: 740px){
    .nfInput .placeLabel-email {
        font-size: 16px;
    }
}


.hybrid-login-form .placeLabel-email {
    left: 20px;
}
/* placeLabel-password */
.nfInput .placeLabel-password {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease, transform .1s ease;
}

.nfTextField:focus ~ .placeLabel-password {
    top: 18px;
    bottom: 10px;
    left: 8px;
    font-size: 11px;
    opacity: 1;
    color: #8c8c8c;
    font-weight: 400;
}


@media only screen and (min-width: 740px){
    .nfInput .placeLabel-password {
        font-size: 16px;
    }
}


.hybrid-login-form .placeLabel-password {
    left: 20px;
}

/* button */

.nfPasswordToggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: #8c8c8c;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
}
.hybrid-login-form .nfPasswordControls .nfPasswordToggle {
    display: none;
    height: 50px;
    padding: 0 12px;
}

/* SIGN IN BUTTON */
.btn {
    background-color: #e6e6e6;
    background-image: linear-gradient(180deg,#e6e6e6,#ddd);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.action-button, .btn-blue, .btn-submit {
    background-color: #0080ff;
    background-image: linear-gradient(180deg,#0080ff,#0277ec);
    box-shadow: 0 1px 0 rgb(0 0 0 / 55%);
    color: #fff;
}
.btn {
    font-size: 1em;
    margin: 0.5em 0.5em 0.5em 0;
    min-height: 50px;
    min-width: 74px;
    padding: 24.5px 2em;
    position: relative;
}
.btn.btn-small {
    display: block;
    line-height: 50px;
    margin: 0.5em auto;
    padding: 0;
    width: 100%;
}
@media only screen and (min-width: 500px){
    .btn.btn-small {
    display: inline-block;
    font-size: 13px;
    line-height: 1em;
    margin-right: 0.5em;
    min-height: 37px;
    min-width: 98px;
    padding: 12px 1em;
    width: auto;
}
}
.login-button.btn {
    background: #e50914;
    width: 100%;
}
@media only screen and (min-width: 500px){
    .login-button.btn {
    font-size: 18px;
    padding: 16px;
}
}
@media only screen and (min-width: 360px){
    .login-button.btn {
    max-width: 100%;
    width: 100%;
}
}
.hybrid-login-form .login-button {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin: 24px 0 12px;
}


/* LOGIN FORM HELP */

.hybrid-login-form .hybrid-login-form-help {
    display: flex;
}

.hybrid-login-form .login-remember-me {
    flex-grow: 1;
    padding-left: 20px;
}

.login-remember-me {
    display: inline-block;
    margin-bottom: -5px;
}
.ui-binary-input {
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 36px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.ui-binary-input input[type=checkbox], .ui-binary-input input[type=radio] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.login-remember-me input {
    margin-right: 10px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.ui-binary-input input[type=checkbox]+label, .ui-binary-input input[type=radio]+label {
    color: #333;
    display: block;
    line-height: 1.2;
    padding: 6px 0;
    position: relative;
}

.hybrid-login-form .login-remember-me input[type=checkbox]+label {
    padding: 0;
}

.ui-binary-input input[type=checkbox]+label:before, .ui-binary-input input[type=radio]+label:before {
    background-color: #fff;
    border: 1px solid #b3b3b3;
    content: "";
    display: block;
    left: -36px;
    padding: 0;
    position: absolute;
    top: 2px;
}

.hybrid-login-form .login-remember-me input[type=checkbox]+label:before {
    background: #737373;
    border: 0;
    border-radius: 2px;
    height: 16px;
    left: -20px;
    width: 16px;
}

.hybrid-login-form .login-remember-me input[type=checkbox]:checked+label:after {
    color: #000;
    font-size: 18px;
    left: -21px;
    top: 0;
}

.ui-binary-input input[type=checkbox]:checked+label:after {
    color: #0080ff;
    content: "\f00c";
    font-family: nf-icon;
    font-size: 28px;
    left: -36px;
    top: -2px;
    position: absolute;
}

/* NEED HELP? */

a {
    text-decoration: none;
}

.hybrid-login-form .login-help-link {
    cursor: pointer;
    flex: 0 0 1;
    padding-top: 2px;
}
.hybrid-login-form .login-help-link, .hybrid-login-form .login-remember-me-label-text {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
}

/* form other */

.hybrid-login-form .login-signup-now {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.hybrid-login-form .login-signup-now a {
    color: #fff;
}

.recaptcha-terms-of-use {
    position: relative;
    text-align: left;
}
.recaptcha-terms-of-use {
    color: #8c8c8c;
    font-size: 13px;
    margin-top: 11px;
}

.recaptcha-terms-of-use--link-button {
    background-color: transparent;
    border: none;
    color: #0071eb;
    cursor: pointer;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}
.recaptcha-terms-of-use--link-button.-hidden {
    visibility: hidden;
}

.recaptcha-terms-of-use--disclosure {
    opacity: 0;
    transition: height .5s ease,opacity .5s ease;
    visibility: hidden;
}

.recaptcha-terms-of-use--disclosure.-visible {
    opacity: 1;
    visibility: visible;
}


/* footer */

.site-footer-wrapper {
    color: #757575;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}
.hybrid-login-wrapper .site-footer-wrapper {
    background: rgba(0,0,0,.75);
    margin-top: 0;
}

.footer-divider {
    border-top: 1px solid #e5e5e5;
    height: 0;
    width: 100%;
}

@media only screen and (min-width: 740px){
    .footer-divider {
    display: none;
}
}

.hybrid-login-wrapper .footer-divider {
    border-color: #737373;
}

@media only screen and (min-width: 740px){
    .site-footer {
    margin: 0 auto;
    max-width: 1000px;
}
}

.site-footer {
    padding: 30px 0;
    width: 90%;
}

.footer-top {
    margin: 0 0 30px;
    padding: 0;
}
.footer-links {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}

ul.structural {
    margin: 0;
    padding: 0;
}
.footer-link-item {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 24.5%;
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.lang-selection-container {
    margin-top: 20px;
}

.hybrid-login-wrapper .ui-select-wrapper {
    border: none;
}

.lang-selection-container .ui-select-wrapper {
    width: auto;
}
.ui-select-wrapper {
    display: inline-block;
    position: relative;
}
@media only screen and (min-width: 740px){
    .ui-select-wrapper {
    max-width: 600px;
}
}
.ui-select-wrapper {
    border: 1px solid #b3b3b3;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
}

.copy-text {
    color: grey;
    font-size: .75em;
    line-height: 1.3em;
    margin: 20px 0;
}

.ui-select-wrapper .select-arrow {
    display: inline-block;
    position: relative;
    width: 100%;
}

