.episodeList-main {
    padding: 0 30px 30px 30px;
}

.episodeList-title {
    display: flex;
    justify-content:space-between;
}

.episode {
    display: flex;
    justify-content: center;
    text-align: left;
}
.episodeNumber {
    margin: auto;
    padding: 20px 10px 20px 20px;
    font-size: 25px;
}
.episodeSubject {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.episodeSummary {
    margin: 10px 10px 0px 10px;
    /* margin-bottom: 0px; */
}


.episodeImg {
    width: 200px;
    padding: 10px;
}