.our-story-cards {
    margin: 0 auto;
}

.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

.hero-card .concord-img{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.our-story-card-background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -100px;
    z-index: 0;
}

.concord-img-gradient {
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.our-story-card-text {
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.our-story-card-text h1 {
    font-size: 3.125rem;
    margin: 0 auto;
    max-width: 640px;
    line-height: 1.1;
}

.our-story-card-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}


