.rowContent {
    display: block;
    width: 100vw;
}

.sliderMask {
    display: flex;
    padding: 0 4%;
    flex-direction: row;
    max-width: 100vw;
    overflow: hidden;
}


.sliderTitle {
    padding: 0 4.5%;
    margin: 2% 0% 1%;
}