.slide-img-popup-wrapper {
  margin-right: 3px;
}
.slide-img-popup {
  min-width: 250px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.slide-img-popup:hover {
  transform: scale(1.2) translateY(-25%);
  z-index: 5;
  /* border: 1px solid red; */
}
.slide-img-popup:hover ~
.img-popup-top{
  position: relative;
}
.img-popup-top {
  position: relative;
}
.popup-video-wrapper {
  position: relative;
}
.popup-img {
  position: relative;
  display: block;
}


.popup-video {
  position: absolute;
  width: 100%;
  height: auto;
  /* z-index: 1; */
}








.popup-video-mute {
  opacity: 1;
  /* Position */
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.mute {
  border: 1px solid #fff;
  border-radius: 9999px;
  height: 3rem;
  width: 3rem;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  /* Add a dark background */
  background-color: rgba(0, 0, 0, 0.4);
}

/* popup bottom */

.img-popup-bottom {
  background-color: #181818;
  padding: 5%;
}


.bottom1 {
  display: flex;
  justify-content: space-between;
  padding: 3px 3px 10px 3px;
}
.bottom1-left {
  display: flex;
}
.bottom1-left div {
  margin-left: 5px;
  border: 1px solid #fff;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.bottom1-left div:nth-child(1) {
  margin: 0;
  border: 1px solid #fff;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.bottom1-left .faPlay {
  color: #000;
  margin-left: 10px;
}

.bottom1-right {
  display: flex;
}
.bottom1-right div {
  margin-right: 5px;
  border: 1px solid #fff;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  /* Add a dark background */
  background-color: rgba(0, 0, 0, 0.4);
}

.bottom2 {
  display: flex;
}
.bottom3 {
  display: flex;
}
.bottom4 {
  display: flex;
}
