* {
  font-family: sans-serif;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

input {
}

/* HEADER */
.header {
  position: fixed;
  background-color: #24292e;
  width: 100%;
  height: 80px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 20px;
  width: 250px;
  height: 40px;
  font-size: 20px;
}
.summonerInput {
  margin-right: 20px;
}
.summonerInput input {
  padding: 2px 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
}
.summonerInput button {
  color: black;
  padding: 2px 15px;
  border-top-right-radius: 15px;
  border: none;
  border-bottom-right-radius: 15px;
}

/* CONTENT */
.contentWrapper {
  padding-top: 100px;
  background-color: rgba(32, 45, 55, 0.9);

  width: 100%;
  height: 800px;
}
.contentHeader {
  margin: 50px 170px;
  /* padding: 30px; */
}
/* SUMMONER INFO */
.summonerInfo {
  display: flex;
  align-items: center;
}
.summonerDetail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summonerIcon {
  width: 100px;
  height: 100px;
}
.summonerIconImg img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.summonerLevel {
  position: relative;
  text-align: center;
  margin-top: -15px;
}
.summonerLevel span {
  padding: 0px 8px;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(32, 45, 55);
  border: 1px solid #000;
  font-family: sans-serif;
}
/* CONTENTMAIN */
.contentMain {
  display: flex;
}
.contentMainRight {
  display: flex;
}
.contentMainRight div {
  border-right: 1px solid red;
}
.contentMainLeft {
  border-right: 1px solid #000;
}
.contentSummary {
}

/* SUMMONERNAME */
.summonerName {
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
}

/* TIER */
.tierWrapper {
  display: flex;
}

.winCount {
  color: rgb(57, 174, 241);
}
.lossesCount {
  color: rgb(243, 59, 59);
}

.tierDetail {
  margin: auto;
  text-align: center;
}
.tierTitle {
  font-size: 0.8em;
  font-weight: 500;
  color: rgb(169, 166, 166);
}
/* WINRATIO */
.donutGraph {
  width: calc(100% - 10px);
  padding-bottom: calc(100% - 10px);
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background 0.3s ease-in-out;
  background: conic-gradient(
    rgb(57, 174, 241) 0% 32%,
    rgb(243, 59, 59) 32% 100%
  );
}
.donutGraph::before {
  color: #fff;
  width: 70%;
  padding: calc(35% - 0.64vw) 0;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 15%;
  display: block;
  content: attr(data-percent) "%";
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.1vw;
  font-size: 2vw;
  padding: calc(35% - 1.3vw) 0;
}
