* {
    letter-spacing:  0!important;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
}

#appMountPoint {
    background-color: #000;
}

body {
    margin: 0;
}

div {
    display: block;
}




/* CONTAINER */

.our-story-container {
    overflow-x: auto;
    width: 100%;
    
}

/* ----------------- HEADER ----------------- */

.our-story-header {
    margin: 0 45px;
    position: relative
}

.our-story-header-wrapper {
    background-color: transparent;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 20px;
    position: relative;
    right: 0;
    top: 0;
    transition: background-color .5s;
    width: 100%;
    z-index: 10;
    height: 3.54rem;
}

.our-story-header--has-language-selector {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    height: 30px; 
    justify-content: flex-start;
    padding-top: 0.5rem;
    flex-grow: 3;
}

.our-story-header--has-language-selector :nth-child(1) {
    flex-grow: 10;
}

.our-story-header--has-language-selector .lang-selection-container {
    display: inline-block;
    margin: 0 0.75rem;
    margin-right: 1.5rem;
}

.ui-select-wrapper {
    width: auto;
    display: inline-block;
    position: relative;
}

.ui-label {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin-bottom: 0;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
}
/* NETFLIX LOGO */

#netflix-logo {
    fill: #e50914;
    line-height: normal;
}

.svg-icon-netflix-logo {
    height: 2.25rem;
    width: 8.375rem;
}

.our-story-logo {
    margin-right: 56px;
}

/* LANGUAGE SELECTOR */

.select-arrow {
    display: inline-block;
    position: relative;
    width: 100%;
}

.ui-select.medium {
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.3em;
    white-space: nowrap;
    padding: 8px 22px;
    text-indent: 0;
    font-size: 0.825rem;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}
.select-arrow.prefix:before {
    left: 0.5rem;
}
.select-arrow.prefix.globe:before {
    content: "\E896";
}


/* ----------------- HEADER ----------------- */

/* -----------------SECTION 1 ----------------- */


/* SIGN IN BUTTON */

.redButton {
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
}

.authLinks {
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    
}


.our-story-cards {
    margin: 0 auto;
}

.our-story-card-background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -100px;
    z-index: 0;
}

.concord-img-gradient {
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-card .concord-img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

.our-story-card-text {
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.our-story-card-text h1 {
    font-size: 3.125rem;
    margin: 0 auto;
    max-width: 640px;
    line-height: 1.1;
}

.our-story-card-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}

/* EMAIL FORM */

.email-form-lockup .nmhp-cta, .email-form-lockup .our-story-cta {
    border-bottom-left-radius: 0;
    border-left: 1px solid #333;
    border-top-left-radius: 0;
    margin: 0!important;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.structural {
    margin: 0;
    padding: 0;
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

label {
    cursor: default;
}

.email-form {
    max-width: 950px;
    padding-top: 0.85rem;
    display: flex;
    flex-direction: column;
}

.faq-card .email-form {
    margin: 0 auto;
}

.email-form-lockup {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
}

.email-form-title {
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 20px!important;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 5%;
}

.nfFormSpace {
    margin-bottom: 10px;
}


.simpleForm {
    flex: 1 0 auto;
    text-align: right;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.nfInput .nfInputPlacement{
    position: relative;
    max-width: 500px;
}

.nfInput input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 60px!important;
    min-width: 450px;
}

.nfInput .placeLabel {
    color: #8c8c8c;
    font-size: 16px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease, transform .1s ease;
    font-size: 16px;
}

.nfTextField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    height: 44px;
    padding: 10px 11px;
    width: 100%;
}

input:focus ~ .placeLabel {
    top: 20px;
    bottom: 10px;
    left: 6px;
    font-size: 11px;
    opacity: 1;
    color: #8c8c8c;
    font-weight: bold;
    font-weight: 600;
}

/* GET STARTED BUTTON */

.nmhp-cta-extra-large {
    font-size: 1.625rem;
    min-height: 60px;
}

.btn {
    background-color: #e6e6e6;
    background-image: linear-gradient(180deg,#e6e6e6,#ddd);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    min-width: 74px;
    position: relative;
}

.nmhp-cta {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    line-height: normal;
    margin: 0.25em auto;
    padding: 0 1em;
    width: auto;
}

.btn-red {
    background-color: #e50914;
    background-image: linear-gradient(180deg,#e50914,#db0510);
    box-shadow: 0 2px 0 rgb(0 0 0 / 45%);
    color: #fff;
}

.nmhp-cta .chevron-right-arrow svg {
    height: 100%;
    left: 0;
    margin: 1px 0;
    position: absolute;
    top: 0;
    transform: scaleX(1);
}

.nmhp-cta .chevron-right-arrow {
    flex: 0 1 auto;
    height: 0.75em;
    margin: 0 0 0 0.5em;
    position: relative;
    width: 0.35em;
}

.nmhp-cta .chevron-right-arrow svg path {
    fill: #fff;
}

/* -----------------SECTION 1 ----------------- */

/* -----------------SECTION 2 ----------------- */


.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 70px 45px;
    position: relative;
}

.animation-card .animation-card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.animation-card.watchOnTv .our-story-card-text-section2 {
    margin: -5% 0;
}

.animation-card .our-story-card-text-section2 {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}

.our-story-card-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-size: 27px;
    margin: 0 0 0.4em;
    font-weight: 500;
}

.our-story-card-subtitle, .our-story-card-text-section2 {
    font-size: 1.625rem;
    font-weight: 400;
}

.h5, h2, h3, h4, h5 {
    margin: 0.75em 0 0.25em;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.our-story-card .animation-card-container {
    height: 258px;
}
.animation-card .our-story-card-img-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

.animation-card.watchOnTv .our-story-card-animation-container {
    margin: -10% -5% -5% 0;
}

.animation-card .our-story-card-animation-container {
    overflow: hidden;
    position: relative;
}

.animation-card.watchOnTv .our-story-card-img {
    position: relative;
    z-index: 2;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.animation-card.watchOnTv .our-story-card-animation {
    height: 100%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.center-pixel {
    left: 50%;
    position: absolute;
    top: 50%;
}

.animation-card.watchOnTv .our-story-card-video {
    height: 100%;
    width: 100%;
}

video {
    display: inline-block;
    vertical-align: baseline;
}

/* -----------------SECTION 2 ----------------- */

/* -----------------SECTION 3 ----------------- */

.animation-card.flipped .animation-card-container {
    flex-flow: row-reverse;
}
.animation-card.flipped .animation-card-container .our-story-card-text-section3 {
    padding: 0 0 0 3rem;
}
.animation-card .our-story-card-text-section3 {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}
.our-story-card-subtitle, .our-story-card-text-section3 {
    font-size: 1.625rem;
    font-weight: 400;
}

.animation-card.downloadAndWatch.flipped .our-story-card-animation-container {
    margin: -8% 0 -4% -15%;
}

.animation-card.downloadAndWatch .our-story-card-animation-container {
    margin: -8% 0 0;
    min-height: 100px;
    width: 100%;
}

.animation-card.downloadAndWatch .our-story-card-animation {
    align-items: center;
    background: #000;
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    bottom: 8%;
    box-shadow: 0 0 2em 0 #000;
    display: flex;
    left: 50%;
    margin: 0 auto;
    min-width: 15em;
    padding: 0.5em 0.75em;
    position: absolute;
    transform: translateX(-50%);
    width: 60%;
}

.animation-card.downloadAndWatch .our-story-card-animation .our-story-card-animation-image {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1em 0 0;
}

.animation-card.downloadAndWatch .our-story-card-animation .our-story-card-animation-image img {
    height: 4.5em;
}

.animation-card.downloadAndWatch .our-story-card-animation .our-story-card-animation-text {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3em 0;
}

.animation-card.downloadAndWatch .our-story-card-animation .our-story-card-animation-custom {
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) 50% no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.75em;
    outline: 2px solid #000;
    outline-offset: -2px;
    width: 3em;
}

/* -----------------SECTION 4 ----------------- */

.animation-card .our-story-card-text-section4 {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
    font-size: 1.625rem;
    font-weight: 400;
}

.our-story-card-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.animation-card.watchOnDevice .our-story-card-animation-container {
    margin: -5% -10% 0 0;
}

.animation-card.watchOnDevice .our-story-card-img, .animation-card.watchOnTv .our-story-card-img {
    position: relative;
    z-index: 2;
}

.animation-card.watchOnDevice .our-story-card-animation {
    height: 100%;
    left: 50%;
    max-height: 47%;
    max-width: 63%;
    position: absolute;
    top: 34%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.animation-card.watchOnDevice .our-story-card-video, .animation-card.watchOnTv .our-story-card-video {
    height: 100%;
    width: 100%;
}

/* section 5 */

.animation-card.flipped .animation-card-container .our-story-card-text-section5 {
    padding: 0 0 0 3rem;
}

.animation-card .our-story-card-text-section5 {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}

.our-story-card-subtitle, .our-story-card-text-section5 {
    font-size: 1.625rem;
    font-weight: 400;
}



/* -----------------SECTION 6 ----------------- */


.faq-card {
    text-align: center;
}

.our-story-card-text-section6 {
    font-size: 1.625rem;
    font-weight: 400;
}

.our-story-card-title-section6 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
/* BUTTONLIST */

.faq-card .faq-question {
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    width: 100%;
    background: #303030;
    display: block;
    text-align: left;
    /* -webkit-appearance: button; */
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    color: inherit;
    font: inherit;
}

.faq-card .faq-list {
    margin: 2em auto;
    width: 75%;
    max-width: 815px;
}

.our-story-card-text-section6 > ul {
    padding: 0;
}

.faq-card .faq-list-item {
    list-style-type: none;
    margin: 0 0 8px;
}


.faq-card .svg-icon-thin-x {
    fill: #fff;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
}

/* ANSWER OPEN/CLOSED */
.faq-card .faq-answer.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);
}
.faq-card .faq-answer.open {
    max-height: 1200px;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);
}

.faq-card .svg-icon-thin-x {
    fill: #fff;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
}
/* class 이름만 바꿔주면 알아서 바뀜 (css우선순위) */
.faq-card .svg-closed {
    transform: translateY(-50%) rotate(-45deg);
}

.faq-card .faq-answer, .faq-card .faq-question {
    background: #303030;
    display: block;
    text-align: left;
}

.faq-card .faq-answer span {
    display: inline-block;
    padding: 1.2em;
}

/* FOOTTER */
.our-story-card.our-story-card-no-border {
    border-bottom: none;
    padding-bottom: 0;
}

.site-footer-wrapper {
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    margin-top: 0;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer-divider {
    display: none;
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
}

.site-footer {
    margin: 0 auto;
    padding-top: 0px;
    width: 90%;
}
.site-footer a {
    color: #737373;
}

.footer-top {
    margin: 0 0 30px;
    padding: 0;
}

.footer-top-a {
    color: #737373;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.footer-links {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.footer-link-item {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 24.6%;
}

.footer-link {
    color: #737373;
}

.lang-selection-container {
    margin-top: 20px;
}

.lang-selection-container .ui-select-wrapper {
    width: auto;
}

.ui-select-wrapper {
    display: inline-block;
    position: relative;
}

.lang-selection-container .ui-label {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.ui-select-wrapper .select-arrow {
    display: inline-block;
    position: relative;
    width: 100%;
}

.footer-card .dark .ui-select-wrapper .select-arrow.prefix:before {
    color: #999;
    top: 17px;
    content: \e896;
}

.ui-select-wrapper .select-arrow.prefix:before {
    color: #000;
    font-family: nf-icon;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    left: 15px;
}

.lang-selection-container .ui-select-wrapper .select-arrow.prefix .ui-select.medium {
    text-indent: 0;
    line-height: 1.7;
}
.footer-card .dark .ui-select-wrapper .ui-select {
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    color: #999;
    font-size: 16px;
}

.footer-country {
    font-size: 13px;
    margin-top: 24px;
}


.copy-text, .copy-text a {
    color: #737373;
}

.copy-text {
    font-size: 0.7em;
    line-height: 1.5em;
    margin: 20px 0;
}
